*{word-wrap:break-word}
html{font-family: courier, 'courier new', monospace;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
.button{background: #c3c2bb;color:#000;font-weight:bold;border-width:2px;border-style:solid;border-top-color:#fff;border-right-color:#625743;
  border-bottom-color:#625743; border-left-color:#fff;text-decoration:none;padding: 4px 25px;font-size:16px;font-weight:bold; line-height:16px;}
.main{background:url('logo.png') no-repeat ;margin:0;padding:0px 160px;}
.content{background-color:#FFFFBB;padding:20px;margin:0px 100px;}
.title {margin-bottom:30px;font-weight:bold}
.req{padding-left:20px;margin:5px 0px;font-weight:bold}
.backarea{text-align:center}
.foot{border-top: 2px solid #666}
.top{padding:15px 10px;text-align:right;font-weight:bold}
.top a{text-decoration:none;color:#000}
u{text-decoration:under-line;color:blue}
u a:visited{
  color:blue;
}
.input-text.focus {
border-color: rgba(82, 168, 236, 0.8);
box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px;
}
.input-text:hover {
border: 1px solid rgb(59, 180, 242);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}
.input-text {
box-sizing: border-box;
border: 1px solid rgb(221, 221, 221);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
width: 450px;
transition: all 0.2s linear 0s;
-webkit-transition: all 0.2s linear 0s;
}

.input-text {
font-size: 14px;
height: 31px;
line-height: 1.42857;
padding: 4px;
}